* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 86px;
    width: 100%;
    background-color: white;
    background-clip: content-box;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

body {
    height: 3000px;
    background-color: white;
}

main {
    margin-top: 86px;
}

a {
    text-decoration: none;
    font-weight: bold;
}

a.button {
    text-decoration: none;
    width: 120px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    background-color: rgb(255, 81, 50);
    color: white;
}

#homePage {
    display: block;
    position: absolute;
    left: 30%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    text-transform: uppercase;
}

header a.button {
    position: absolute;
    right: 30%;
    top: 50%;
    transform: translateY(-50%);
}

div#sidebar {
    background: url("./assets/img/bgHome.jpg") no-repeat center / cover;
    height: 600px;
    position: relative;
}

div.text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateY(-50%) translateX(-50%);
    font-weight: bold;
}

div.text p {
    margin: 30px 10px;
    margin-top: 0px;
    color: white;
    font-size: 40px;
}

table {
    width: 100%;
    height: 150%;
    padding: 5% 20%;
}

td {
    width: 50%;
}

tr {
    height: 800px
}

img.imageItem {
    padding: 20px 0px;
    width: 100%;
}

p.nameItem {
    font-size: 20px;
    font-weight: bold;
}

p.giaItem {
    margin: 16px 0px;
}

article {
    background-color: gainsboro;
}
