* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    background-color: rgb(207, 47, 19);
    text-align: center;
    height: 80px;
    line-height: 80px;
    color: white;
    font-weight: bold;
}

header {
    height: 60px;
    width: 100%;
    background-color: rgba(129, 44, 44, 1);
    background-clip: content-box;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

body {
    background-color: white;
}

a {
    text-decoration: none;
}

a.button {
    position: static;
    text-decoration: none;
    width: 120px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    background-color: rgb(207, 47, 19);
    color: white;
}

a.button:hover {
    background-color: red;
}
#homePage {
    display: block;
    position: absolute;
    left: 7%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 27px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
}

header a.button {
    position: absolute;
    right: 7%;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}
