@import "./basic.css";

main {
    padding: 40px 35%;
    text-align: center;
}
main p a {
    float: left;
}
main p span {
    float: right;
}
h1 {
    margin-bottom: 40px;
    text-align: center;
}
