* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

header {
    height: 80px;
    width: 100%;
    background-color: white;
    background-clip: content-box;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

body {
    background-color: #eee;
}

a {
    text-decoration: none;
}

a.button {
    position: static;
    text-decoration: none;
    width: 120px;
    height: 40px;
    line-height: 40px;
    display: inline-block;
    text-align: center;
    background-color: rgb(207, 47, 19);
    color: white;
}

a.button:hover {
    background-color: red;
}

#homePage {
    display: block;
    position: absolute;
    left: 20%;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
    color: black;
    letter-spacing: 0.2em;
}

header a.button {
    position: absolute;
    right: 20%;
    top: 50%;
    transform: translateY(-50%);
    font-weight: bold;
}


main {
    width: 800px;
    margin: 40px auto 40px;
    line-height: 50px;
}

table {
    width: 100%;
    margin: 0 40px;
}

.fist {
    width: 100px;
}

input {
    width: 200px;
}

#submit {
    width: 80px;
    margin-left: 200px;
}
