@import "./basic.css";

main {
    margin-top: 60px;
}

a {
    font-weight: bold;
}

#sidebar {
    background: url("../img/bgSlider.jpg") no-repeat center / cover;
    height: 500px;
    position: relative;
}

header {
    position: fixed;
}

div.text {
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    transform: translateY(-50%) translateX(-50%);
    font-weight: bold;
}

div.text p {
    margin: 30px 10px;
    margin-top: 0px;
    color: white;
    font-size: 40px;
}

#maketting {
    width: 100%;
    height: 150%;
    padding: 2% 16%;
}

#maketting td {
    width: 50%;
}

#maketting tr {
    height: 600px
}

img.imageItem {
    padding: 20px 0px;
    width: 100%;
}

p.nameItem {
    font-size: 20px;
    font-weight: bold;
}

p.giaItem {
    margin: 16px 0px;
}

article {
    background-color: rgb(129, 44, 44);
}

div.info{
    background-color: rgb(129, 44, 44);
}
div.locationAndHour {
    padding: 5% 20%;
}

#hours {
    width: 100%;
}

#hours,
#hours tr,
#hours td,
#hours th {
    border: 2px black solid;
    text-align: center;
    border-collapse: collapse;
    line-height: 30px;
}

#day {
    width: 40%;
}

#open, #close {
    width: 30%;
}
