*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial Black;
}
div.text
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  /*  background: rgb(10, 10, 10); */
}
div.text p
{
    position: relative;
    font-size: 5em;
    letter-spacing: 3px;
    color: rgb(53, 25, 82);
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    /*-webkit-box-reflect: below 1px linear-gradient(transparent,#0008);*/
    line-height: 0.90em;
    outline: none;
    animation: animate 5s linear infinite;
}
@keyframes animate
{
    0%,18%,20%,50.1%,60%,65.1%,80%,90.1%,92%
    {
        color: #ec3636;
        text-shadow: none;
    }
    18.1%,20.1%,30%,50%,60.1%,65%,80.1%,90%,92.1%,100%
    {
        color: #fff;
        text-shadow: 0 0 10px #ec3636,
        0 0 20px #ec3636,
        0 0 40px #ec3636,
        0 0 80px #ec3636,
        0 0 160px #ec3636;
    }
}