@import "./basic.css";

#banner {
    height: 200px;
    padding: 70px 20%;
    line-height: 30px;
    background-color: rgb(233, 18, 18);
}
#search,
span.subnav {
    display: inline-block;
    text-align: center;
}
span.subnav {
    font-size: 16px;
}
aside {
    padding: 0 20%;
    position: relative;
}
#myInput {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
}
a.subnav {
    padding: 0 20px;
    font-size: 14px;
    color: black;
    display: inline-block;
}
article {   
    background-color: aliceblue;
}
article > h2 {
    padding: 20px 0 20px 15%;
}
#list-items {
	padding: 0 10% 0 15%;
}
#list-items li {
	display: inline-block;
	width: 400px;
	height: 200px;
	position: relative;
	top: 0;
	left: 0;
	margin: 20px;
	cursor: pointer;
	border: 1px solid black;
	border-radius: 4px;
}
.item-left {
	position: absolute;
	top: 0;
	bottom: 50%;
	left: 0;
	width: 200px;
	padding: 20px 0 0 20px;
	box-sizing: border-box;
	line-height: 30px
}
.item-right {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	width: 200px;
	padding: 20px;
	text-align: center;
	box-sizing: border-box;
}
.item-right .hinhMinhHoa {
	max-width: 100%;
	max-height: 100%;
}
footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}
main {
	margin-bottom: 80px;
}
#dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: 400px;
	height: 500px;
	border-radius: 4px;
}
#dialog h2 {
	margin: 4px;
	text-align: center;
	color: #00f;
}
#dialog form {
	position: absolute;
	top: 40px;
	bottom: 10px;
	right: 10px;
	left: 10px;
}
#imgOrder {
	text-align: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 30%;
	background-position: center;
	background-size: cover;
}
#sizeOrder {
	text-align: left;
	position: absolute;
	top: 75%;
	left: 10px;
	right: 0;
	bottom: 20%;
}
.button {
	width: 30px;
	font-size: 24px;
	border: 2px;
	border-radius: 8px;
	border-width: 1px;
	line-height: 30px;
	cursor: pointer;
}
.button:hover {
	border-color: #f00;
}
#numberOrder {
	display: inline-block;
	width: 30px;
	text-align: center;
	line-height: 30px;
}
#submitButton {
	position: absolute;
	top: 90%;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 4px;
}
.ok {
	width: calc(100% - 50px);
	margin-left: 8px;
	font-size: 16px;
	padding: 4px;
	line-height: 20px;
	height: 28px;
}
.cance {
	border-radius: 50%;
	font-size: 24px;
	line-height: 36px;
	width: 36px;
}
