@import "./basic.css";

#banner {
    height: 200px;
    padding: 70px 20%;
    line-height: 30px;
    background-color: rgb(233, 18, 18);
}

#search,
span.subnav {
    display: inline-block;
    text-align: center;
}

span.subnav {
    font-size: 16px;
}

aside {
    padding: 0 20%;
    position: relative;
}

#myInput {
    width: 100%;
    font-size: 16px;
    padding: 12px 20px 12px 40px;
    border: 1px solid #ddd;
    margin-bottom: 12px;
  }

a.subnav {
    padding: 0 20px;
    font-size: 14px;
    color: black;
    display: inline-block;
}

article {
    padding: 5% 20%;
    background-color: aliceblue;
}

#list {
    list-style: none;
    margin-top: 20px;
}

#list li {
    display: inline;
}

#list li > a {
    display: inline-block;
    width: 49%;
    padding: 4%;
    height: 200px;
    border: 1px solid #333;
}

a img {
    display: block;
    float: right;
    height: 100%;
}

a div {
    float: left;
    height: 100%;
    line-height: 30px;
    color: #333;
}
