* {
    box-sizing:border-box
  }
  h2 {
    text-align: center;
  }
  /* Slideshow container */
  .slideshow-container {
    position: relative;
    margin: auto;
  }
  /* Định dạng nội dung Caption */
  .text {
    font-family: Impact;
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  /* định dạng các chấm chuyển đổi các slide */
  .dot {
    position: relative;
    bottom: 60px;
    cursor:pointer;
    height: 13px;
    width: 13px;
    /*margin: 0 2px;*/
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  /* khi được hover, active đổi màu nền */
  .active, .dot:hover {
    background-color: #717171;
  }
   
  /* Thêm hiệu ứng khi chuyển đổi các slide */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1s;
    animation-name: fade;
    animation-duration: 1s;
    text-align: center;  
  }
  @-webkit-keyframes fade {
    from {opacity: .6} 
    to {opacity: 1}
  }
   
  @keyframes fade {
    from {opacity: .6} 
    to {opacity: 1}
  }