@import "./neontext.css";
nav {
  position: relative;
  height: 600px;
  background-color: #333;
}
.slide-shows {
  background: no-repeat center / cover;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  animation: appear 2s linear;
  text-align: center;
}
#dot-list {
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  display: block;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
nav a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.dot {
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  margin: 5px;
  cursor: pointer;
}

@keyframes appear {
  from {opacity: 0.1;}
  to {opacity: 1;}
}
