@import "./reset.css";

header {
  height: 60px;
  width: 100%;
  background-color: rgba(129, 44, 44, 1);
  background-clip: content-box;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}
body {
  background-color: white;
}
a {
  text-decoration: none;
}
.button {
  text-decoration: none;
  width: 120px;
  height: 40px;
  line-height: 40px;
  display: inline-block;
  text-align: center;
  background-color: rgb(207, 47, 19);
  color: white;
  border-radius: 4px;
}
.button:hover {
  background-color: red;
  cursor: pointer;
}
#homePage {
  display: block;
  position: absolute;
  left: 7%;
  top: 50%;
  transform: translateY(-50%);
  font-size: 27px;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
}

#logined {
  position: absolute;
  right: 7%;
  top: 50%;
  transform: translateY(-50%);
  font-weight: bold;
}
#user {
  position: absolute;
  right: 0;
  top: calc(100% + 5px);
}
#user li {
  width: 160px;
  height: 30px;
  line-height: 30px;
  background-color: #eee;
  margin: 4px;
  border-radius: 4px;
}
#user li a {
  color: #000;
  display: block;
  padding-left: 4px;
  text-align: center;
}
#user li:hover a {
  background-color: #333;
  color: #f00;
}

#countCart {
  position: absolute;
  right: 0;
  top: 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  transform: translate(50%, -50%);
  font-size: 24px;
  color: #0f0;
}
